@import "../../styles/variables.scss";

.layout {
	max-width: $full-width;
	margin: 0 auto;
	padding: 0 2em;
	@include breakpoint(md) {
		padding: 0;
	}
}

.banner {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 56px;
	@include breakpoint(sm) {
		margin-top: 80px;
		flex-direction: row;
		align-items: start;
	}
	&__status {
		&__title {
			font-size: $text-title;
			color: $title;
			font-weight: $title-weight;
		}
		&__buttons {
			margin-top: 24px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 24px;
			@include breakpoint(sm) {
				flex-direction: row;
			}
			button {
				cursor: pointer;
				border: 2px solid $primary;
				color: $primary;
				padding: 24px;
				font-size: 20px;
				border-radius: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 700;
				gap: 0.5em;
				width: 100%;
				opacity: 0.3;
				transition: 0.5s;
				&:hover {
					opacity: 1;
				}
				@include breakpoint(sm) {
					width: auto;
				}
			}
		}
	}
	&__actionButtons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		@include breakpoint(sm) {
			flex-direction: row;
		}
	}
}

.team {
	margin-top: 56px;
}

.welcome {
	width: 100%;
	border-radius: 12px;
	@include breakpoint(sm) {
		border: 1px solid #4c54f8;
		background-color: #f4f1f2;
		padding: 56px 0 200px 0;
	}
	&__head {
		text-align: start;
		h4 {
			font-size: $text-title;
			color: $title;
			font-weight: $title-weight;
			padding-bottom: 24px;
		}
		p {
			font-size: 24px;
			color: rgba($title, $alpha: 0.6);
			font-weight: 600;
		}
		@include breakpoint(sm) {
			text-align: center;
		}
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 12px;
		margin-top: 56px;
		@include breakpoint(sm) {
			flex-direction: row;
			gap: 56px;
		}
		&__box {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 30px;
			background-color: #f4f1f2;
			border-radius: 12px;
			border: 1px solid #4c54f8;
			padding: 56px;
			width: 100%;
			filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
			@include breakpoint(sm) {
				background: transparent;
				border: none;
				filter: none;
				width: auto;
			}
			button {
				cursor: pointer;
				padding: 16px;
				font-size: 16px;
				border-radius: 12px;
				border: 1px solid #679afa80;
				background-color: white;
				width: 100%;
			}
		}
	}
}
