@import "../../styles/variables.scss";

.modal {
	background: transparent;
	position: fixed;
	inset: 0;
	z-index: 999;
	&__overlay {
		background-color: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(5px);
		width: 100%;
		height: 100%;
	}
	&__container {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 10px;
		filter: drop-shadow(0 0 0.75rem rgba(10, 106, 246, 0.1));
		border-radius: 20px;
		border: 1px solid #a5ecd7;
		@include breakpoint(sm) {
			width: 571px;
		}
		&__content {
			position: relative;
			&__closeBtn {
				cursor: pointer;
				position: absolute;
				top: 0;
				right: 0;
				border: 1px solid #a5ecd7;
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				filter: drop-shadow(0 0 0.75rem rgba(10, 106, 246, 0.1));
				border-radius: 50%;
				transition-duration: 0.5s;
				color: #ffffff;
				background-color: #0a6af6;
			}
		}
	}
}
