@import "../../styles/variables.scss";

.bannerButton {
	cursor: pointer;
	border: 2px solid $primary;
	padding: 24px;
	font-size: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	gap: 0.5em;
	width: 100%;
}
.bannerButtonPrimary {
	background-color: $primary;
	color: white;
}
.bannerButtonOutlined {
	background: transparent;
	color: $primary;
}
