@import "../../styles/variables.scss";

.bannerButton {
	cursor: pointer;
	border: 2px solid $primary;
	padding: 24px;
	font-size: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	gap: 0.5em;
	width: 100%;
	@include breakpoint(md) {
		width: auto;
	}
}
.bannerButtonPrimary {
	background-color: $primary;
	color: white;
}
.bannerButtonOutlined {
	background: transparent;
	color: $primary;
}

// ************ Modal Button ************
.modalBtn {
	cursor: pointer;
	font-size: 20px;
	font-weight: $title-weight;
	padding: 16px;
	width: 100%;
	border: 2px solid;
	border-radius: 34px;
	&__primary {
		background-color: #0a6af6;
		color: white;
		border-color: #0a6af6;
	}
	&__outlined {
		background-color: white;
		border-color: black;
		color: black;
	}
}
