@import "../styles/variables.scss";

.home {
	max-width: $full-width;
	margin: 0 auto;
	padding: 0 2rem;
	@include breakpoint(md) {
		padding: 0;
	}
	// ******************  Banner section
	&__banner {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		@include breakpoint(md) {
			flex-direction: row;
		}
		&__description {
			display: flex;
			flex-direction: column;
			gap: 24px;
			justify-content: start;
			h4 {
				font-size: $text-title;
				color: $title;
				font-weight: $title-weight;
			}
			p {
				font-size: 24px;
				color: rgba($title, $alpha: 0.6);
				font-weight: 600;
			}
		}
	}
	// ****************** Teams section
	&__teamSection {
		margin: 56px 0;
		@include breakpoint(md) {
			margin-top: 120px;
		}
		&__teams {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			gap: 12px;
			@include breakpoint(md) {
				flex-direction: row;
				gap: 40px;
			}
			&__team {
				width: 315px;
				padding: 32px;
				border-radius: 12px;
				border: 1px solid $primary;
				display: flex;
				flex-direction: column;
				gap: 16px;
				&__title {
					font-size: $text-title;
					color: $title;
					font-weight: $title-weight;
				}
				&__category {
					font-size: 24px;
					font-weight: 500;
					color: $title;
				}
				&__description {
					font-size: 16px;
					margin-top: 16px;
					line-height: 24px;
				}
			}
		}
	}
}
.teamCreateModal {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 20px 0;
	@include breakpoint(md) {
		padding: 40px;
	}
	h4 {
		font-size: 24px;
		font-weight: $title-weight;
	}
	&__input {
		display: flex;
		flex-direction: column;
		label {
			font-size: 20px;
			color: #aeb7b4;
			font-weight: $title-weight;
			margin-bottom: 12px;
		}
		input {
			min-width: 286px;
			padding: 24px;
			border-radius: 12px;
			border: 2px solid #0a6af6;
			outline: none;
			@include breakpoint(md) {
				min-width: 100%;
			}
			:focus {
				outline: none !important;
				border: none !important;
			}
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 32px;
		@include breakpoint(md) {
			flex-direction: row;
			gap: 56px;
		}
	}
}
